mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 220px;
  padding-top: 8px;
}

mat-sidenav-content {
  overflow-y: auto;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.spacer {
  flex: 1 1 auto;
}
